**/.git
**/.gitignore
**/bin
**/obj
**/bin/**
**/obj/**
**/*.user
**/*.suo
**/*.DS_Store
**/*.md
**/images
**/infra
**/*.log
**/*.sqlite
**/docker-compose.yml
**/*.env
**/.idea
**/*.sln.DotSettings.user

# include only necessary project directories
!/admin-api/**
!/admin-application/**
!/admin-domain/**
!/admin-infrastructure/**
!/admin-api/admin-api.csproj
!/admin.sln
!/admin-application/admin-application.csproj
!/admin-infrastructure/admin-infrastructure.csproj
!/admin-domain/admin-domain.csproj
